/* commons */
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

a{
    text-decoration: none;
}

header .container  nav a:hover{
    text-decoration: underline;
}

.btn-white{
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 10px 15px;
    font-weight: 600;
}

.btn-black{
    background-color: black;
    color: white;
    border-radius: 2em;
    padding: 10px 15px;
    font-weight: 600;
}

.btn-black:hover{
    background-color:  #36393f;
    text-decoration: none;
}

.btn-white:hover{
    color: #404eed;
}

/* header  */

header{
    height: 80px;
    line-height: 80px;
    background-color:#255ee9 ;
}

header .container{
    height: 80px;
    width: 80%;
    
    margin: 0 auto;
}

header .container #logo-top,
header .container #accedi
{
    width: 20%;
}
.container #logo-top img{
   vertical-align: middle;
}

.container #accedi{
    text-align: right;
    
}

.container #accedi a{
    margin-right: 10px;
}

header .container nav{
    width: 60%;
    text-align: center;
}


.container nav li {
    display: inline-block;
    margin:0 20px;
}

.container nav a{
    font-size: 18px;
    color: white;
    font-weight: 600;
}

/* fine header */


/* #jumbotron section  */
#jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 500px;
}

#jumbo .text-jumbo{
    padding-left: 20%;
    text-align: center;
    width: 60%;
    padding-top: 7%;
}

#jumbo .text-jumbo h1, p{
    color: white;
    font-weight: 600;
}

#jumbo .text-jumbo h1{
    font-size: 50px;
}

#jumbo .text-jumbo p{
    font-size: 18px;
    line-height: 1.6;
    margin: 30px 0;
}

#jumbo .text-jumbo a{
    font-size: 20px;
    margin: 0 20px;
    padding: 20px 30px;
}

/* main section   */
main{
    width: 80%;
    height: 100%;
    margin: auto;
}

main .container aside{
    margin: 50px 0;
    height: 300px;
}
     




main .container h2{
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;

}

main .container p{
    line-height: 1.4;
    padding-right: 30px;
    color: lightslategrey;
    font-size: 20px;
    font-weight: 400;
}

.width-60{
    width: 60%;
}

.width-40{
    width: 40%;
}



main .container aside img{
    display: inline-block;
    width: 100%;
    }

.bg-star{
    background-image: url(../img/stars.svg);
    background-size: cover;
    height: 20px;
    text-align: center;
}





/* inizio footer  */

footer{
    height: 500px;
}

/* debug */


/* .debug #jumbo{
    background-color:pink ;
}

.debug main{
    background-color: white;
    height: 600px; */
}

/* .debug section  {
    height: 200px;
    background-color: yellow;
} */

.debug footer{
    background-color: grey;
}
/* 
.debug aside{
    background-color:green;
    border: 0px solid black;
} */

/* 
.debug header{
    background-color: pink;
}

.debug .container {
    background-color: yellow;
}

.debug #logo-top,
.debug nav,
.debug #accedi{
    height: 80px;
    /* background-color: blues; */


    